@media screen and  (max-width: 320px){

    body {
        width: 185vw;
    }

    .header {

        width: 100%;
        height: 20vh;
    }

    .header_containerLeft ul {

        display: block;
        
    }

    .header_containerLeft, .header_containerRight {
        height: auto;
        margin-right: 50px;
    }

    .hero_container {

        display: block;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .hero_containerSearch {
        
        position: relative;
        margin: 0px;
        left: 80px;
        
    }

    .main {
        width: 85%;
        height: 1000vh;
    }

    .main_cardsContainer {
        display: block;
    }

    .main_card1, .main_card2, .main_card3 {
        margin: 0 auto;
        margin-top: 20px;
    }

    .main_buttons {
        padding-top: 40px;
    }
}